/* For Tablets */
@media all and (max-width: 1000px) {
    .lesson {
         flex-wrap: wrap;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
     width: fit-content;
      font-size:smaller;
      margin-left: -2.5%;
    }
    
    .heading h2 {
      font-size: 20px;
    }
   
  }
  
  /* For Smartphones */
  @media all and (max-width: 670px) {
    .lesson {
      width: fit-content;
      align-items: center;
     margin-left: 15%;
    }
    .lessons {
      flex-wrap: wrap;
   margin-bottom: 50px;
   align-items: center;
   margin-left: -4% ;
 }
    
    footer {
      text-align: center;
      width: max-content;
    }
    
    .btn {
      width: fit-content;
    }
    

    .top-wrapper {
      text-align: center;
         width: fit-content;
        
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
    .contact-form {
      padding-top: 100px;
      margin-left: 0%;
      display: block;
      width: fit-content;
     align-items: center;
    }
    
    .below-wrapper{
      width: fit-content;
    }
    .container1 h1{
     font-size: large;
    }
    .below-wrapper a .CLICK{
      align-items: center;
    }
    .contact-form input ,textarea{
      width:300px;
      align-items: center;
      margin-top:10px;
      margin-bottom:30px;
      padding:20px;
      font-size:18px;
      width: fit-content;
      border:1px solid #dee7ec;
      border-radius: 14px;
      }
      
      
  }

  
  @media all and (max-width: 670px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
